<!DOCTYPE html>
<html>
<head>
<title>KD Camper</title>
<link rel="stylesheet" type="text/css" href="/yelpcamp.css">
<link rel="stylesheet" type="text/css" href="/landing.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

<div id="landing-header">
<h1>Welcome to KD Camper!</h1>
<a href="/campgrounds" class="btn btn-lg btn-info">Top Camping Grounds In India</a>
</div>

<ul class="slideshow">
    <li class="img-responsive"></li>
    <li class="img-responsive"></li>
    <li class="img-responsive"></li>
    <li class="img-responsive"></li>
    <li class="img-responsive"></li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h5  class="text-right mr-3 my-2">KD Camper 2020</h5>
</body>
</html>
