body{
background-color:black !important;
}

#landing-header{
   z-index: 1;
   position: relative;
   text-align: center;
   padding-top: 35vh;
}
#landing-header h1{
font size: 1.2rem;
}
.text-right.mr-3{
  z-index: 1;
  position: relative;
}

#landing-header h1{
   color: white;
}

.slideshow{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
   list-style: none;
   margin: 0;
   padding: 0;
}

.slideshow li{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   opacity: 0.03;
   z-index: 0;
   animation: imageAnimation 40s linear infinite;
}

.slideshow li:nth-child(1) { 
   background-image: url(https://www.michigan.org/sites/default/files/styles/15_6_desktop/public/camping-hero_0_0.jpg?itok=mgGs0-vw&timestamp=1520373602);
 }
 .slideshow li:nth-child(2) { 

   background-image: url( https://www.visitflorida.com/content/dam/visitflorida/en-us/images/full-rights/PHOTO%20ICON%20CAMPING%20FISHEATING%20CREEK%20%28Peter%20W.%20Cross%20and%20Patrick%20Farrell%29.jpg.1280.500.imagerendition);
   animation-delay: 8s; 
 }
 .slideshow li:nth-child(3) { 
   background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_537,q_50,w_1084/v1/clients/omaha/_EFX7662_d0fa5dc0-76ec-47e7-a89b-34f790ccebb5.jpg);
   animation-delay: 16s; 
 }
 .slideshow li:nth-child(4) { 
   background-image: url(https://i.imgur.com/16oRWiO.jpg);
   animation-delay: 24s; 
 }
 .slideshow li:nth-child(5) { 
   background-image: url(http://i.imgur.com/K3mPv14.jpg);
   animation-delay: 36s;
 }

 @keyframes imageAnimation { 
   0% { 
     opacity: 0; 
     animation-timing-function: ease-in;
   }
   10% {
     opacity: 1;
     animation-timing-function: ease-out;
   }
   20% {
     opacity: 1
   }
   30% {
     opacity: 0
   }
 }

.btn.btn-lg.btn-info{
 border: solid 2px white;
}

h5.text-right.mr-3{
   color: white;
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}